<%= form_for(:announcement, :url=> {:action => 'create'}) do |field| %>
<div class="container col-xs-4 col-xs-offset-4">
  <h2 class="text-center">Ogłoszenie</h2>

  <%= render(:partial => "form", :locals => {:field => field})%>
  <div class="row">
    <div class="col-xs-4">
    </div>
    <div class="col-xs-4">
      <%= submit_tag("Dodaj!", :class=>"btn btn-lg btn-primary btn-block") %>
    </div>
  </div>
</div>
<%end%>
