<%= form_for(:announcement, :url => {:action => "update", :id => @announcement.id}) do |field|%>

<div class="container col-xs-4 col-xs-offset-4">
  <h1 class="text-center">Edycja</h1>

  <%= render(:partial => "form", :locals => {:field => field})%>

  <div class="row">
    <div class="col-xs-4">
    </div>
    <div class="col-xs-4">
      <%= submit_tag("Aktualizuj", :class=>"btn btn-lg btn-primary btn-block") %>
    </div>
  </div>
</div>
<%end%>
