
<div class="container" style="text-align:center;">
  <h1>PANEL ZARZĄDZANIA</h1>
  <%= link_to("Kategorie", {:controller => 'announcement_categories', :action => 'index'}, :class=>"btn btn-lg btn-info") %>
  <%= link_to("Ogłoszenia", {:controller => 'announcement', :action => 'index'}, :class=>"btn btn-lg btn-info") %>
  <%= link_to("Użytkownicy", {:action => 'users'}, :class=>"btn btn-lg btn-info") %>
  <%= link_to("Wyloguj", {:action => 'logout'}, :class=>"btn btn-lg btn-info") %>
</div>
