
<div class="container">
  <h1>PANEL ZARZĄZDANIA</h1>
  <%= link_to("Kategorie", {:controller => 'announcement_categories', :action => 'index'}) %>
  <%= link_to("Ogłoszenia", {:controller => 'announcement', :action => 'index'}) %>
  <%= link_to("Użytkownicy", {:action => 'users'}) %>
  <%= link_to("Wyloguj", {:action => 'logout'}) %>
</div>
