<br>
<div class="container-fluid">
  <font size="10">
    <div class="row">
      <div class="col-xs2 text-center">
        <% @categories.each do |category| %>
          <button type="btn btn-primary btn-lg" role="button" name="button">
            <%= link_to("#{category.name}", {:controller => 'announcement', :action => 'view'}) %>
          </button>
        <% end %>
      </div>
    </div>
  </font>
</div>
