<div class="container-fluid">
<br>
  <font size="10">
    <div class="row">
      <div class="col-xs2 text-center">
        <% @categories.each do |category| %>
          <button type="btn btn-primary btn-lg" role="button" name="button">
            <%= link_to("#{category.name}", {:controller => 'announcement', :action => 'view', :id => category.id}) %>
          </button>
        <% end %>
      </div>
    </div>
  </font>

  <div class="row">
    <div class="">
      <% @announcements.each do |announcement| %>
        <h5>TEST: <%= announcement.title %></h5><br>
      <%end%>
    </div>
  </div>
</div>
