<div class="container-fluid">
    <div class="row">
      <div class="col-xs4 text-center">
        <% @categories.each do |category| %>
          <button type="btn btn-primary btn-lg" role="button" name="button">
            <%= link_to("#{category.name}", {:controller => 'welcome', :action => 'index'}) %>
          </button>
        <% end %>
      </div>
    </div>

  <div class="row">
    <div class="">
      <% @announcements.each do |announcement| %>
        <h5>TEST: <%= announcement.title %></h5><br>
      <%end%>
    </div>
  </div>
</div>
