<!DOCTYPE HTML>
<html lang="pl">
<head>
  <meta charset="utf-8" />
  <title> Wypozyczalnia Elektroniki </title>
  <meta name="description" content="Wyporzyczalnia Sprzetu Elektronicznego" />
  <meta name="keywords" content="elektronika, sprzet elektroniczny, wypozyczalnia" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome1" />
</head>

<body>
  <h1>WYPOZYCZALNIA SPRZETU ELEKTRONICZNEGO</h1>
  <p>Find me in app/views/welcome/index.html.erb</p>
  <%= "Count to 10" %>
  <br />
  <% 11.times do |i| %>
    <%= i %>
  <% end %>
</body>
</html>
