<div class="container">
  <h1>Usuwanie kategorii</h1>

  <%= link_to("Wróć", {:action => 'index'}) %>

  <%= form_for(:photo, :url => {:action => "drop", :id => @photo.id}) do |field|%>
  <p>Czy napewno chcesz usunąć kategorię <b><%=@photo.id%></b>?</p>


    <%= submit_tag("Usuń") %>
  <% end %>
</div>
