<h1>Kategorie</h1>


<div>
  <% @categories.each do |category| %>
    <button type="button" class="btn btn-primary btn-lg">
        <%= category.name %>
    </button>
  <% end %>
<<<<<<< HEAD
</div>
=======
</table> -->

<p>

    <% @categories.each do |category| %>
      <button type="button" class="btn btn-primary btn-lg">
          <%= category.name %>
      </button>
    <% end %>

</p>
>>>>>>> d917a48692e4106573a4612a5195e39a945d25cd
