<div class="container">
  <h1>Dodaj kategorię</h1>

  <%= link_to("Wróć", {:action => 'index'}) %>

  <%= form_for(:category, :url => {:action => "create"}) do |field|%>
  <%= render(:partial => "form", :locals => {:field => field})%>
  <div >
    <%= submit_tag("Dodaj") %>
  </div>
  <% end %>
</div>
